* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(236, 234, 234);
  line-height: 1.6;
}

.showcase {
  background-image: url("../images/cubamalecon.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
}

.showcase img {
  width: 10%;
  height: 25%;
}

.showcase h1 {
  color: black;
  font-size: 2.5rem;
  line-height: 1.2;
}

.showcase a {
  color: white;
  font-size: 2rem;
  font-family: "Gugi", cursive;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 5px dashed #f7a239;
  background-color: rgb(64, 129, 190);
  padding: 20px;
  background: #926239;
  color: #fff;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Audiowide", cursive;
}

.fullstack {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 55%;
  height: auto;
  background-color: black;
}

h4 {
  color: white;
  font-family: "Gugi", cursive;
  font-size: 1.5rem;
}

.fullstack h3 {
  font-size: 3rem;
  color: white;
  font-family: "Audiowide", cursive;
}

.skills {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: black;
  padding-top: 2rem;
}

.tools {
  width: 10%;
  height: 10%;
  align-self: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
}

.skills li {
  border: 3px solid rgb(99, 103, 138);
  margin: 1rem;
  padding: 0.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(218, 208, 208);
  width: 15%;
  font-family: "Gugi", cursive;
  line-height: 133px;
}

.skills li:hover {
  background-color: rgb(99, 103, 138);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(99, 103, 138);
}

.projects img {
  border: 3px solid black;
}

.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(99, 103, 138);
}
h2 {
  font-size: 3rem;
  color: white;
  background-color: rgb(99, 103, 138);
  font-family: "Audiowide", cursive;
  display: flex;
  justify-content: center;
}
.projects ul {
  display: flex;
}

.projects li {
  margin: 1rem;
}

.projects ul li img {
  height: 15rem;
  width: 25rem;
}

.project-icon {
  width: 5rem;
  height: 5rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
  height: 6rem; /* Footer height */
  background-color: black;
}

footer img {
  width: 3rem;
}

.icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.leetcode {
  width: 9rem;
}

footer p {
  color: rgb(99, 103, 138);
}

@media (max-width: 366px) {
  html {
    padding: 0;
    margin: 0;
  }
  .showcase {
    background-image: url("../images/cubamalecon.jpg");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0;
  }

  .showcase img {
    width: 8rem;
    height: 10rem;
  }
  .showcase h1 {
    color: black;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 3rem;
  }

  .showcase a {
    color: white;
    font-size: 1rem;
    font-family: "Gugi", cursive;
  }

  .tools {
    width: 5rem;
    height: 5rem;
    align-self: center;
  }

  .skills {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 2rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
  }

  .skills li {
    border: 3px solid rgb(99, 103, 138);
    margin: 1rem;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(218, 208, 208);
    width: 40%;
    font-family: "Gugi", cursive;
    line-height: 133px;
  }
  .project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(99, 103, 138);
  }
  .projects {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(99, 103, 138);
  }

  .project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color: rgb(64, 129, 190);
    background: #926239;
    color: #fff;
    text-align: center;
  }
  .projects ul {
    display: flex;
    justify-content: center;
  }
  .projects ul li img {
    height: 10rem;
    width: 17rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    height: 6rem; /* Footer height */
    background-color: black;
  }
}

@media (min-width: 367px) and (max-width: 768px) {
  html {
    padding: 0;
    margin: 0;
  }
  .showcase {
    background-image: url("../images/cubamalecon.jpg");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0;
  }

  .showcase img {
    width: 8rem;
    height: 10rem;
  }
  .showcase h1 {
    color: black;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 3rem;
  }

  .showcase a {
    color: white;
    font-size: 1.4rem;
    font-family: "Gugi", cursive;
  }

  .tools {
    width: 5rem;
    height: 5rem;
    align-self: center;
  }

  .skills {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 2rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
  }

  .skills li {
    border: 3px solid rgb(99, 103, 138);
    margin: 1rem;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(218, 208, 208);
    width: 40%;
    font-family: "Gugi", cursive;
    line-height: 133px;
  }
  .project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(99, 103, 138);
  }
  .projects {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(99, 103, 138);
  }

  .project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color: rgb(64, 129, 190);
    background: #926239;
    color: #fff;
    text-align: center;
  }
  .projects ul {
    display: flex;
    justify-content: center;
  }
  .projects ul li img {
    height: 10rem;
    width: 17rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    height: 6rem; /* Footer height */
    background-color: black;
  }
}

@media (min-width: 769px) {
  html {
    padding: 0;
    margin: 0;
  }
  .showcase {
    background-image: url("../images/cubamalecon.jpg");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0;
  }

  .showcase img {
    width: 8rem;
    height: 10rem;
  }
  .showcase h1 {
    color: black;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 3rem;
  }

  .showcase a {
    color: white;
    font-size: 1.4rem;
    font-family: "Gugi", cursive;
  }

  .tools {
    width: 5rem;
    height: 5rem;
    align-self: center;
  }

  .skills {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 2rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
  }

  .skills li {
    border: 3px solid rgb(99, 103, 138);
    margin: 1rem;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(218, 208, 208);
    width: 40%;
    font-family: "Gugi", cursive;
    line-height: 133px;
  }
  .project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(99, 103, 138);
  }
  .projects {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(99, 103, 138);
  }

  .project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color: rgb(64, 129, 190);
    background: #926239;
    color: #fff;
    text-align: center;
  }
  .projects ul {
    display: flex;
    justify-content: center;
  }
  .projects ul li img {
    height: 10rem;
    width: 17rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    height: 6rem; /* Footer height */
    background-color: black;
  }
}
